* {
    margin: 5px;
    padding: 0%;
    box-sizing: border-box;
}
.img{
    max-width: fit-content;
    max-height: auto;
}
.img-div{
    background-color: white;
}
body{
    display: flex;
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  background-color: rgb(241, 241, 241);
}
h1{
    margin-bottom: 20px;
}
h4{
    margin-bottom: 15px;
    font-weight: lighter;
}
#img-caption{
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: lighter;
}
h2{
    margin-top: 20px;
    margin-bottom: 20px;
}
dl{
margin-left: 30%;
margin-right: 30%;
font-size: 14px;
}
li{
    margin: 15px;
    text-align: left;
}
p{
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 30px;
    font-style: italic;
}
.tribute-link{
    font-size: 15pt;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 50px;
}